<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inspiron</title>
    <link rel="stylesheet" href="/style.css" />
    <!-- Default favicon (fallback for unsupported browsers) -->
    <link rel="icon" href="/favicon-light.ico" type="image/x-icon" />
  </head>
  <body class="dark">
    <script>
      // Function to update favicon based on theme
      // https://favicon.im/blog/favicon-for-light-dark-modes
      function updateFavicon(theme) {
        const favicon =
          document.querySelector('link[rel="icon"]') ||
          document.createElement("link");

        favicon.rel = "icon";
        favicon.type = "image/png";
        favicon.href =
          theme === "dark" ? "/favicon-dark.ico" : "/favicon-light.ico";

        if (!document.querySelector('link[rel="icon"]')) {
          document.head.appendChild(favicon);
        }
      }

      if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        updateFavicon("dark");
      } else {
        document.body.classList.remove("dark");
        document.body.classList.add("light");
        updateFavicon("light");
      }
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          const newColorScheme = event.matches ? "dark" : "light";
          if (newColorScheme === "dark") {
            document.body.classList.remove("light");
            document.body.classList.add("dark");
            updateFavicon("dark");
          } else {
            document.body.classList.remove("dark");
            document.body.classList.add("light");
            updateFavicon("light");
          }
        });
    </script>
    <div id="main">
      <div id="modes">
        <label for="car-select">Mode:</label>
        <select id="car-select" name="car-select">
          <option
            value="0"
            title="Applications on the dashboard will be links that use the server's private IP."
          >
            Private IP
          </option>
          <option
            value="1"
            title="Applications on the dashboard will be links that use the server's Tailscale IP."
          >
            Tailscale IP
          </option>
          <option
            value="2"
            title="Applications on the dashboard will be links that use the server's hostname."
          >
            Hostname
          </option>
          <option
            value="3"
            title="Applications on the dashboard will be links that dynamically route your request based on your connecting IP instead of showing you separate links for LAN and Tailscale."
          >
            Routing
          </option>
          <option
            value="4"
            title="Applications on the dashboard will show separate links for LAN and Tailscale."
          >
            Two links
          </option>
          <option
            value="5"
            title="Applications on the dashboard will be links to subdomains consisting of your configured app names (shorthand) and domain."
          >
            Domain
          </option>
        </select>
      </div>
      <h2 id="title" class="linear-text-gradient"><%= hostname %></h2>
      <span id="desc"><i id="home">Self-Hosted Applications</i></span>
      <div id="albums"></div>
    </div>
    <script type="module">
      const title = document.getElementById("title");
      const titleText = document.getElementById("title").innerText;

      title.innerText =
        titleText.slice(0, 1).toUpperCase() + titleText.slice(1).toLowerCase();

      document
        .getElementById("car-select")
        .addEventListener("change", function (e) {
          localStorage.setItem("mode", this.value);
          generateHtml(this.value);
        });

      const response = await fetch("/getRoutes", { cache: "no-store" });
      const json = await response.json();
      const routes = json.routes;

      const mode = (localStorage.getItem("mode") || "0").toString();
      // mode 0 = only use private ip
      // mode 1 = only use tailscale ip
      // mode 2 = use hostname
      // mode 3 = enable routing
      // mode 4 = two links
      // mode 5 = only use domain

      document
        .getElementById("car-select")
        .children[mode].setAttribute("selected", "");

      generateHtml(mode);

      function generateHtml(mode) {
        for (const img of document.getElementsByClassName("albumArt")) {
          img.onerror = null;
        }

        let html_ = "";
        for (let i = 0; i < routes.length; i++) {
          html_ += generateAlbum(routes[i], i);
        }
        document.getElementById("albums").innerHTML = html_;

        function generateAlbum(route, i) {
          if (mode != 4) {
            return `
              <a href = ${generateHref(
                route,
                mode
              )} style = "text-decoration: none;">
                <div class="album">
                  <img
                    class="albumArt"
                    src="${route.img}"
                    onerror="this.onerror=null; this.src='/album_art/avatar.png'"
                  />
                  <div class="albumDetails">${route.name}</div>
                </div>
              </a>
            `;
          } else if (mode == 4) {
            return `
            <div class="album">
              <img
                class="albumArt"
                src="${route.img}"
                onerror="this.onerror=null; this.src='/album_art/avatar.png'"
              />
              <div class="albumDetails">
                <span class = "appName">${route.name}</span>&nbsp;&nbsp;<a href = "${route.lan}">LAN</a>&nbsp;|&nbsp;<a href = "${route.ts}">Tailscale</a>
              </div>
            </div>`;
          }
        }

        function generateHref(route, mode) {
          if (mode == 0) {
            return route.lan;
          } else if (mode == 1) {
            return route.ts;
          } else if (mode == 2) {
            return route.hn;
          } else if (mode == 3) {
            return `/${route.shorthand}`;
          } else if (mode == 5) {
            return route.dom;
          }
        }
      }
    </script>
  </body>
</html>
